h2 {
  margin-bottom: 30px !important;
}

li {
  list-style-type: none;
}

.card-content {
  padding: 10px;
}

.btn {
  margin: 5px;
}

.card-title {
  padding: 10px;
}

.date {
  display: flex;
  align-items: center;
}