h2 {
  display: flex;
  align-items: center;
}

li {
  list-style-type: none;
}

.card-body {
  padding: 3px !important;
}

.card-content {
  padding: 10px;
}


.btn-add {
  float: right;
}

.btn-game {
  margin: 5px;
}

.card-title {
  padding: 10px;
}

.date {
  display: flex;
  align-items: center;
}

.row {
  width: 100%;
  margin: 30px !important;
}