
#navigation {
  background: black;
  border-bottom: 2px solid #E4E7ED;
  border-top: 3px solid #D10024;
}

/*----------------------------*\
	Main nav
\*----------------------------*/
  .main-nav {
    padding: 0;
  }

  .main-nav>li {
    display: block;
    color: white;
    border-bottom: solid 1px;
    padding: 10px;
    margin: 5px;
  }

  .main-nav>li>a {
    text-decoration: none !important;
    color: white;
  }

  .main-nav>li:hover, .main-nav>li.active>a {
    content: '';
    color: #D10024;
    border-top: solid 1px;
    -webkit-transition: 1s all;
    transition: 0.5s all;
  }

  .main-nav>li>a:focus{
    color: #D10024;
  }

  .router-link-exact-active{
    color: #D10024 !important;
  }

  .main-nav>li:after {
    display: block;
    width: 0%;
    height: 2px;
    background-color: #D10024;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }

  .main-nav>li>a:hover:after, .main-nav>li:focus:after, .main-nav>li.active>a:after {
    width: 100%;
  }

  .header-ctn li.nav-toggle {
    display: none;
  }

  .navbar-toggler {
    color: white;
  }
